@divider-color: #0505050f;
@light-color: #ffffffea;
@layout-bgc: #292a2b;
@layout-bgc2: #242526;
@gold-color: #ffae59;

.layout,
.layout > .ant-layout-footer {
  color: @light-color;
  background-color: @layout-bgc;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: #ffffff4d;
}

.grid-background {
  position: relative;
  padding: 0 !important;
  overflow: hidden;
  border-radius: 4px;
  color: @layout-bgc;
  background-color: @light-color;
  background-image: linear-gradient(@divider-color 1px, transparent 0),
    linear-gradient(90deg, @divider-color 1px, transparent 0),
    linear-gradient(@divider-color 1px, transparent 0),
    linear-gradient(90deg, @divider-color 1px, transparent 0);
  background-size: 15px 15px, 15px 15px;
}

.view-opts,
.file-list {
  height: 100vh;
  border-radius: 4px;
}

.view-opts {
  position: relative;
  overflow: hidden;
  [data-is-drag-target='true'] {
    user-select: none;
  }
  &-resize-elm {
    position: absolute;
    border: 1px #1677ff;
    &-dot {
      width: 5px;
      height: 5px;
      display: inline-block;
      position: absolute;
      background-color: #1677ff;
      &.top,
      &.bottom,
      &.left {
        left: -3px;
      }
      &.left,
      &.right {
        top: 50%;
        transform: translateY(-50%);
        cursor: e-resize;
      }
      &.right {
        left: 100%;
        transform: translate(-50%, -50%);
      }
      &.top,
      &.bottom {
        &.center {
          left: 50%;
          transform: translateX(-50%);
          cursor: n-resize;
        }
        &.end {
          left: 100%;
          transform: translateX(-50%);
        }
      }
      &.top {
        top: -3px;
        cursor: nw-resize;
        &.end {
          cursor: nesw-resize;
        }
      }
      &.bottom {
        bottom: -3px;
        cursor: ne-resize;
        &.end {
          cursor: nw-resize;
        }
      }
    }
  }
}

.file-list {
  max-width: 316px;
  max-height: 760px;
  padding: 16px;
  overflow: auto;
  color: @light-color;
  background-color: @layout-bgc2;

  .ant-tree-list,
  .ant-btn-text {
    color: @light-color;
    background-color: @layout-bgc2;
  }

  .ant-tree-node-content-wrapper {
    &.ant-tree-node-selected {
      border-radius: 2px;
      color: @light-color;
      background-color: #ffffff1a;
      color: @gold-color;
    }
    &:hover {
      background-color: #ffffff1a;
    }
  }
  .ant-tree-title {
    display: inline-block;
    max-width: 199px;
    margin-bottom: -5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-top {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #aaa;
    justify-content: space-between;
    .ant-btn-text:hover {
      color: @light-color;
    }
  }
  .ant-tabs {
    color: @light-color;
    &-tab {
      font-size: 13px;
      &.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: @gold-color;
      }
    }
    &-ink-bar {
      background: @gold-color;
    }
  }
}

.style-form {
  .ant-form-item {
    margin-bottom: 14px;
    &-label {
      padding: 0;
      label {
        font-weight: 500;
        color: @light-color;
      }
    }
  }
  .ant-select {
    &-focused {
      color: @light-color !important;
    }
  }
  &-select {
    .ant-select {
      &-selection-item,
      &-arrow {
        color: @light-color;
      }
    }
  }
}

.size-adjust {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  border: 2px solid @gold-color;
  &-line {
    display: grid;
    justify-items: center;
    align-content: space-between;
    &.left,
    &.center,
    &.right {
      :first-child {
        translate: 0 -4px;
      }
      :last-child {
        translate: 0 4px;
      }
    }
    &.left,
    &.right {
      :nth-child(2) {
        cursor: e-resize;
      }
    }
    &.center {
      :first-child,
      :last-child {
        cursor: ns-resize;
      }
    }
    &.left {
      translate: -4px;
      :first-child {
        cursor: se-resize;
      }
      :last-child {
        cursor: sw-resize;
      }
    }
    &.right {
      translate: 4px;
      :first-child {
        cursor: sw-resize;
      }
      :last-child {
        cursor: se-resize;
      }
    }
  }
  &-dot {
    border: 3px solid @gold-color;
  }
}
