@divider-color: #0505050f;
@light-color: #ffffffea;
@layout-bgc: #292a2b;
@layout-bgc2: #242526;

.layout,
.layout > .ant-layout-footer {
  color: @light-color;
  background-color: @layout-bgc;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: #ffffff4d;
}

.view-opts,
.file-list {
  height: 89vh;
  max-height: 89vh;
  border-radius: 4px;
  overflow: auto;
}

.cfg-bar,
.file-list {
  padding: 16px;
  background-color: @light-color;
}

.view-opts {
  position: relative;
  overflow: auto;
  background-color: @light-color;
  background-image: linear-gradient(@divider-color 1px, transparent 0),
    linear-gradient(90deg, @divider-color 1px, transparent 0),
    linear-gradient(@divider-color 1px, transparent 0),
    linear-gradient(90deg, @divider-color 1px, transparent 0);
  background-size: 15px 15px, 15px 15px;

  &-magnifier {
    width: 35px;
    height: 120px;
    padding: 10px 0;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: @light-color;
    border-radius: 4px;
    z-index: 10;
    box-shadow: 3px 3px 10px #00000033;
  }

  &-box {
    position: relative;
    height: 100%;
    * {
      &:hover {
        cursor: move;
      }
    }
  }

  &-auxline {
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    border: 1px dashed #1677ff52;
    pointer-events: none;
  }
}

.cfg-bar {
  background-color: transparent;
}

.file-list {
  color: @light-color;
  background-color: @layout-bgc2;
  .ant-tree-list,
  .ant-btn-text {
    color: @light-color;
    background-color: @layout-bgc2;
  }
  .ant-tree-node-content-wrapper.ant-tree-node-selected {
    border-radius: 0;
    color: @light-color;
    background-color: #1ef9cdcf;
  }
  &-top {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #aaa;
    justify-content: space-between;
    .ant-btn-text:hover {
      color: @light-color;
    }
  }
}
